@model billaNutri.Models.Home.UsuarioVm;
@{
    ViewData["Title"] = "Registrar";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@using (Html.BeginForm("Registrar", "Home", FormMethod.Post, new{@id="frRegistrar"})){
    <body>
        <div class="containe">
            <!--<div class="imglogo">
                <img src="~/img/logo.png" class="img" />
            </div>-->
            <div class="forms2">
                <!-- Vamos criar outro forma para esquecia minha senha -->
                <div class="form Signup" style="margin:0px;">
                    <!-- form Login2-->
                    <span class="titulo"> Registrar</span>
                    <form action="#">
                        <!-- form -->
                        <div class="input-field">
                            <input type="text" name="Email" id="Email" placeholder="E-mail" required>
                            <i class="uil uil-envelope icon"></i>
                        </div>
                        <div class="input-field">
                            <input type="password" name="Senha" class="password" placeholder="Senha" required>
                            <i class="uil uil-padlock icon"></i>
                            <i class="uil uil-eye-slash pveye"></i>
                        </div>
                        <div class="input-field">
                            <input type="password" name="Senha" class="password" placeholder="Confirme a Senha" required>
                            <i class="uil uil-padlock icon"></i>
                            <i class="uil uil-eye-slash pveye"></i>
                        </div>

                        <div class="input-field button">
                            <!--Botão-->
                            <input type="button" onclick="cadastrar()" value="Registrar">
                        </div>

                        <div class="login-signup">
                            <span class="text">
                                É membro ?
                                <a href="@Url.Action("Index","home")" class="text login-link"> Login </a>
                            </span>
                        </div>

                    </form> <!-- form fim -->
                </div> <!-- form login2 final-->
            </div>
        </div>
    </body>
    <script src="~/js/Home/Registrar.js"></script>
    }