@{
    ViewData["Title"] = "Registrar";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<body>
    <div class="containe">
        <div class="imglogo">
            <img src="~/img/logo.png" class="img" />
        </div>
        <div class="forms2">
            <!-- Vamos criar outro forma para esquecia minha senha -->
            <div class="form Signup" style="margin:0px;">
                <!-- form Login2-->
                <span class="titulo"> Registrando</span>
                <form action="#">
                    <!-- form -->
                    <div class="input-field">
                        <input type="text" placeholder="Enter nome" required>
                        <i class="uil uil-user "></i>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Enter com o email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Enter password" required>
                        <i class="uil uil-padlock icon"></i>
                        <i class="uil uil-eye-slash pveye"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Confirme a Senha" required>
                        <i class="uil uil-padlock icon"></i>
                        <i class="uil uil-eye-slash pveye"></i>
                    </div>
                    <div class="checkbox-text">
                        <!-- checkox-->
                        <div class="checkbox-containe">
                            <input type="checkbox" name="" id="logCheck">
                            <label for="logCheck" class="text">Relembre me</label>
                        </div>

                        <a href="" class="text"> Forgot password</a>

                    </div> <!-- checkox-->

                    <div class="input-field button">
                        <!--Botão-->
                        <input type="button" value="Login Now">
                    </div>

                    <div class="login-signup">
                        <span class="text">
                            Não e Membro
                            <a href="@Url.Action("Index","home")" class="text login-link"> Signup New</a>
                        </span>
                    </div>

                </form> <!-- form fim -->
            </div> <!-- form login2 final-->
        </div>
    </div>
</body>