@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');



.conteudo{
    min-height: 0vh;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 60px;
}

.conteudo form{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    padding: 20px;
    width: 600px;
    padding-top: 160px;
}

.conteudo form .inputBox{
    margin-top: 20px;
}

.conteudo form .inputBox span{
    display: block;
    color:#999;
    padding-bottom: 5px;
}


.conteudo form .inputBox input,
.conteudo form .inputBox select{
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border:1px solid rgba(0,0,0,.3);
    color:#444;
}
.conteudo form .inputBox input .submit{
    width: 50px;
    
}

.conteudo form .flexbox{
    display: flex;
    gap:15px;
}

.conteudo form .flexbox .inputBox{
    flex:1 1 150px;
}

.conteudo form .submit-btn{
    width: 50%;
    background:linear-gradient(45deg, #31ea97, rgb(73, 152, 152)); 
    margin-top: 20px;
    margin-left: 140px;
    padding: 10px;
    font-size: 20px;
    color:#fff;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s linear;
}

.conteudo form .submit-btn:hover{
    letter-spacing: 2px;
    opacity: .8;
}

.conteudo .card-conteudo{
    margin-bottom: -150px;
    position: relative;
    height: 250px;
    width: 400px;
}

.conteudo .card-conteudo .front{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    background:linear-gradient(45deg, #28c77f, rgb(235, 247, 247)); 
   /* background:linear-gradient(45deg, #81f3c0, rgb(8, 125, 125)); */
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    padding:20px;
    transform:perspective(1000px) rotateY(0deg);
    transition:transform .4s ease-out;
}

.conteudo .card-conteudo .front .image{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 10px;
}

.conteudo .card-conteudo .front .image img{
    height: 80px;
}

.conteudo .card-conteudo .front .card-number-box{
    padding:30px 0;
    font-size: 22px;
    color:#fff;
}

.conteudo .card-conteudo .front .flexbox{
    display: flex;
}

.conteudo .card-conteudo .front .flexbox .box:nth-child(1){
    margin-right: auto;
}

.conteudo .card-conteudo .front .flexbox .box{
    font-size: 15px;
    color:#fff;
}

.conteudo .card-conteudo .back{
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    background:linear-gradient(45deg, #28c77f, rgb(124, 155, 155));
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    transform:perspective(1000px) rotateY(180deg);
    transition:transform .4s ease-out;
}

.conteudo .card-conteudo .back .stripe{
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.conteudo .card-conteudo .back .box{
    padding: 0 20px;
}

.conteudo .card-conteudo .back .box span{
    color:#fff;
    font-size: 15px;
}

.conteudo .card-conteudo .back .box .cvv-box{
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color:#333;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}

.conteudo .card-conteudo .back .box img{
    margin-top: 10px;
    height: 60px;
}