<head>
    <link rel="stylesheet" href="~/css/login.css">
    <!-- Criando Conta no site  https://iconscout.com/unicons-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
<script src="~/js/login.js"></script>